<header class="header-main border-bottom shadow-xl-bottom bg-light fixed-top">
  <div class="container-fluid">
    <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
      <div class="col-3" align="center">
        <div class="d-flex justify-content-start">
          <a routerLink="/articles">
            <div class="d-flex px-5">
              <img
                src="assets/pictures/shoes-paris-brand.png"
                width="120"
                alt="shoes-paris"
              />
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="d-flex align-items-center justify-content-end px-5" *ngIf="isConnected">
            <app-order-status></app-order-status>
            <app-cart-status></app-cart-status>
            <app-logout></app-logout>
        </div>
      </div>
    </div>
  </div>
</header>

<main
  class="w-100 vh-100 overflow-auto"
  style="padding-top: 110px; padding-bottom: 80px"
>
  <!-- PAGE CONTAINER-->
  <div class="container">
    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
  </div>
</main>

<!-- END PAGE CONTAINER-->
<footer class="bg-dark fixed-bottom" align="center">
  <div class="container">
    <div class="row py-3">
      <div class="col">
        <a href="#" class="btn text-light">About Us</a>
      </div>
      <div class="col">
        <a href="#" class="btn text-light">Contact Us</a>
      </div>
      <div class="col">
        <a href="#" class="btn text-light">Help</a>
      </div>
    </div>
  </div>
</footer>
