<header class="header-main border-bottom shadow-xl-bottom bg-light fixed-top">
  <div class="container-fluid">
    <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
      <div class="col-sm-4" align="center">
        <div class="d-flex justify-content-start">
          <a routerLink="/articles">
            <img
              class="d-none d-md-flex"
              src="assets/pictures/shoes-paris.png"
              width="120"
            />
          </a>
        </div>
      </div>

      <div class="col-sm-4" align="center">
        <a routerLink="/articles">
          <img
            src="assets/pictures/shoes-paris-brand.png"
            width="120"
            alt="shoes-paris"
          />
        </a>
      </div>

      <div class="col-sm-2">
        <app-order-status></app-order-status>
      </div>

      <div class="col-sm-2">
        <app-cart-status></app-cart-status>
      </div>
    </div>
  </div>
</header>

<main
  class="w-100 vh-100 overflow-auto"
  style="padding-top: 110px; padding-bottom: 80px"
>
  <!-- PAGE CONTAINER-->
  <div class="container">
    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
  </div>
</main>

<!-- END PAGE CONTAINER-->
<footer class="bg-dark fixed-bottom" align="center">
  <div class="container">
    <div class="row py-3">
      <div class="col">
        <a href="#" class="btn text-light">About Us</a>
      </div>
      <div class="col">
        <a href="#" class="btn text-light">Contact Us</a>
      </div>
      <div class="col">
        <a href="#" class="btn text-light">Help</a>
      </div>
    </div>
  </div>
</footer>
